body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
}
input {
  width: 70%;
  padding: 8px;
  border: 1 px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justyfy-content: space-between;
  padding: 8px;
  margin: 8px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ddd;
}

li button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background-color: #c82333;
}
